<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.xplugin" >
    <application>
        <!-- Xposed -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="82"/>
        <meta-data
            android:name="xposeddescription"
            android:value="xplugin|"/>

        <provider
            android:name="com.android.xplugin.provider.MyPreferenceProvider"
            android:authorities="com.android.xplugin.preferences"
            android:exported="true"/>
    </application>
</manifest>
